html {
  background-color: #E6ECF0;
}

body {
  margin: 0;
}

body > header {
  background-color: #FFF;
  border-bottom: 1px solid #999;
}

body > header div {
  width: 40em;
  margin: 0 auto;
  display: flex;
}

body > header h1 {
  font-size: 1em;
  margin: 0 1em 0 0;
  align-self: center;
}

body > header a {
  color: #48AAE6;
  text-decoration: none;
  align-self: center;
  display: block;
  margin-right: 1em;
  flex-grow: 1;
  text-align: right;
}

body > header input{
  margin: 1em 0;
  border: 1px solid #666;
  padding: 0.5em;
}

body > header input[type="text"]{
  width: 10em;
}

body > header input[type="password"]{
  width: 10em;
}

body > header input[type="submit"]{
  background-color: #1DA1F2;
  color: white;
  border-color: #1DA1F2;
  box-sizing: content-box;
}

body > header .username {
  margin: 1em;
}

#tweets {
  width: 40em;
  margin: 1em auto;
}

#tweets > header {
  display: none;
}

#tweet_form {
  background-color: #E8F4FB;
  padding: 5px;
}

#tweet_form form {
  width: 100%;
  display: flex;
}

#tweet_form textarea{
  border: none;
  flex-grow: 1;
  margin: 1em;
  padding: 1em;
}

#tweet_form input {
  background-color: #1DA1F2;
  color: white;
  border: none;
  margin: 1em;
  padding: 1em;
  border-radius: 1em;
}

.tweet {
  padding: 1em;
  background-color: #FFF;
  border-bottom: 1px solid #E6ECf0;
}

.tweet .id{
  display: none;
}

.tweet header .realname{
  font-weight: bold;
}

.tweet header a{
  text-decoration: none;
  color: #657786;
}.close {
  float: right;
  text-decoration: none;
  color: #666;
}

.tweet header .time:before {
  content: '\00B7  ';
}
.close {
  float: right;
  text-decoration: none;
  color: #666;
}
#register {
  width: 20em;
  margin: 0 auto;
}

#register form {
  margin: 0;
}

#register input {
  display: blo.close {
  float: right;
  text-decoration: none;
  color: #666;
}ck;
  border: 0;
  margin: 1em;
  padding: 1em;
  width: 100%;
  box-sizing: border-box;
}

#register input[type=submit] {
  background-color: #1DA1F2;
  color: white;
  border-radius: 2em;
}

#messages {
  width: 40em;
}
#messages {
  width: 40em;
  margin: 0 auto;
}

#messages div {
  padding: 1em;
  margin-top: 1em;
  border-radius: 2em;
}

#messages .error {
  background-color: #F99;
  color: #333;
}

#messages .success {
  background-color: #9F9;
  color: #333;
}

#messages .close {
  float: right;
  text-decoration: none;
  color: #333;
}

#new_tweets {
  display: none;
  background-color: #B8ECEF;
  text-align: center;
  padding: 10px;
  color: #333;
}

#new_tweets a{
  color: blue;
  text-decoration: none;
}
